/* CarouselSlider.css */
.carousel-container {
    max-width: 96%;
    max-height: 60vh;
    margin: auto;
  }
  
  .carousel-page {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
  }

  .carousel-page img{
    width: 100%;
    max-height: 80vh;
  }
  